body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#tabSpace {
  position: absolute;
  top: 7vh;
  left: 27vw;
  width: 70vw;
  height: 89vh;
  border: 1px solid black;
  overflow: hidden;
}

#graphSpace {
  position: absolute;
  top: 7vh;
  left: 2vw;
  width: 68vw;
  height: 80vh;
}

#tableSpace {
  position: absolute;
  top: 7vh;
  left: 1vw;
  width: 68vw;
  height: 80vh;
  border: 1px solid black;
  overflow: scroll;
}

#descSpace {
  overflow: hidden;
  position: absolute;
  top: 7vh;
  left: 1vw;
  width: 25vw;
  height: 30vh;
  border: 1px solid black;
}

#filterSpace {
  overflow: hidden;
  position: absolute;
  top: 39vh;
  left: 1vw;
  width: 25vw;
  height: 57vh;
  border: 1px solid black;
}